extends layout

block content
  h1= title

  h6= "Device Name & ID"
  ul 
  each device in devices
    li= device.displayName +", " + device.id
    a(href='/devicedetails/' + device.id) See Device Status
    
    

  
