extends layout

block content
  h1= title

  p Welcome to #{title}

  h6= "My devices"
  ul 
  each val in devices
    li= val.displayName +", " + val.id
    //- a(href='/lockStatus/:id') Check Lock Status
    button

  
